{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1>Announcements</h1>
        <h3>Recently Added features:</h3>
        <ul>
            <li>Account creation</li>
            <li>Login authentication</li>
            <li>Post creation, update, and deletion</li>
            <li>Admin only accessible users' list</li>
            <li>Ability to create post with image</li>
          </ul>
    </div>
</article>
{% endblock content %}